@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.asset-classes {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 40px;

  &__summary {
    padding: 16px 24px 0;
  }

  &__grid {
    flex: 1;
    min-height: 0;
    overflow: auto;
    padding: 16px 24px;
    background: $white;
  }
}
