@use 'variables' as *;

:host {
  display: block;
  height: 100%;
}

.task-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__grid {
    flex: 1;
    min-height: 0;
    padding: 16px 24px 0;
  }
}
