.svg-arrow-down {
    background: url("svg/sprite.css-47378721.svg") 97.24409448818898% 69.56521739130434% no-repeat;
}

.svg-arrow-down-dims {
    width: 14px;
    height: 11px;
}

.svg-arrow-up {
    background: url("svg/sprite.css-47378721.svg") 100% 69.42148760330579% no-repeat;
}

.svg-arrow-up-dims {
    width: 14px;
    height: 10px;
}

.svg-calendar {
    background: url("svg/sprite.css-47378721.svg") 100% 0 no-repeat;
}

.svg-calendar-dims {
    width: 28px;
    height: 26px;
}

.svg-front-line-main-logo {
    background: url("svg/sprite.css-47378721.svg") 0 0 no-repeat;
}

.svg-front-line-main-logo-dims {
    width: 494px;
    height: 494px;
}

.svg-icon-attach {
    background: url("svg/sprite.css-47378721.svg") 100% 5.555555555555555% no-repeat;
}

.svg-icon-attach-dims {
    width: 28px;
    height: 26px;
}

.svg-icon-close {
    background: url("svg/sprite.css-47378721.svg") 100% 11.158798283261802% no-repeat;
}

.svg-icon-close-dims {
    width: 28px;
    height: 28px;
}

.svg-icon-close-small {
    background: url("svg/sprite.css-47378721.svg") 98.8% 58.47457627118644% no-repeat;
}

.svg-icon-close-small-dims {
    width: 22px;
    height: 22px;
}

.svg-icon-close-small-hover {
    background: url("svg/sprite.css-47378721.svg") 98.8% 63.13559322033898% no-repeat;
}

.svg-icon-close-small-hover-dims {
    width: 22px;
    height: 22px;
}

.svg-icon-delete {
    background: url("svg/sprite.css-47378721.svg") 100% 17.167381974248926% no-repeat;
}

.svg-icon-delete-dims {
    width: 28px;
    height: 28px;
}

.svg-icon-time {
    background: url("svg/sprite.css-47378721.svg") 97.82178217821782% 66.94560669456067% no-repeat;
}

.svg-icon-time-dims {
    width: 17px;
    height: 16px;
}

.svg-item_check {
    background: url("svg/sprite.css-47378721.svg") 99.19678714859438% 22.97872340425532% no-repeat;
}

.svg-item_check-dims {
    width: 24px;
    height: 24px;
}

.svg-item_unchecked {
    background: url("svg/sprite.css-47378721.svg") 99.19678714859438% 28.085106382978722% no-repeat;
}

.svg-item_unchecked-dims {
    width: 24px;
    height: 24px;
}

.svg-menu-icon-administration {
    background: url("svg/sprite.css-47378721.svg") 99.19678714859438% 33.191489361702125% no-repeat;
}

.svg-menu-icon-administration-dims {
    width: 24px;
    height: 24px;
}

.svg-menu-icon-operations {
    background: url("svg/sprite.css-47378721.svg") 99.19678714859438% 38.297872340425535% no-repeat;
}

.svg-menu-icon-operations-dims {
    width: 24px;
    height: 24px;
}

.svg-radio-checked-blue {
    background: url("svg/sprite.css-47378721.svg") 99.19678714859438% 43.40425531914894% no-repeat;
}

.svg-radio-checked-blue-dims {
    width: 24px;
    height: 24px;
}

.svg-radio-checked-green {
    background: url("svg/sprite.css-47378721.svg") 99.19678714859438% 48.51063829787234% no-repeat;
}

.svg-radio-checked-green-dims {
    width: 24px;
    height: 24px;
}

.svg-radio-unchecked {
    background: url("svg/sprite.css-47378721.svg") 99.19678714859438% 53.61702127659574% no-repeat;
}

.svg-radio-unchecked-dims {
    width: 24px;
    height: 24px;
}

.svg-sort_asc {
    background: url("svg/sprite.css-47378721.svg") 97.05304518664047% 71.99170124481327% no-repeat;
}

.svg-sort_asc-dims {
    width: 13px;
    height: 12px;
}

.svg-sort_desc {
    background: url("svg/sprite.css-47378721.svg") 99.60707269155206% 71.99170124481327% no-repeat;
}

.svg-sort_desc-dims {
    width: 13px;
    height: 12px;
}

